body,html {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #05102f;
    color: #cbc7b7;
    font-family: 'Andale Mono', monospace;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

}
main {
    padding: 20px;
    margin: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }

section {
        padding: 80px 20px; 
        scroll-margin-top: 100px; 
    }

.logo-container {
    position: absolute;
    top: 10px; 
    left: 20px; 
}
.logo-link {
    text-decoration: none; 
    color: inherit; 
}
.nav-links {
    position: absolute;
    top: 20px; 
    right: 20px;
    display: flex;
    gap: 15px; 
}

.nav-links a {
    color: #cbc7b7;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffffff; 
}



.about-section {
    background-color: #f4f4f4; 
    padding: 50px 20px; 
    text-align: center;
    margin-top: 100px; 
}

.about-section h2 {
    font-size: 2rem; 
    color: #05102f; 
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.1rem; 
    color: #333; 
    line-height: 1.6; 
    max-width: 800px; 
    margin: 0 auto 20px auto; 
}


#projects {
    scroll-margin-top: 120px; 
}


.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: calc(33% - 20px); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column; 
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}

.project a {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
    height: 100%; 
    width: 100%; 
}

.project a p {
    margin: 0; 
    padding: 15px; 
    text-align: center; 
    flex-grow: 1; 
    display: flex; 
    align-items: center; 
    justify-content: center; 

}
/* Footer */
footer {
    background-color: #05102f;
    color: #cbc7b7;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
}



/* Responsive Design */
@media (max-width: 768px) {
    .project {
        width: calc(50% - 20px); /* Adjust width for tablets */
    }

    .nav-links {
        flex-direction: column; /* Change l'orientation */
        right: 10px; /* Ajuste la marge */
    }
}


@media (max-width: 480px) {
    .project {
        width: calc(100% - 20px); /* Adjust width for small screens */
    }

    .nav-links {
        flex-direction: column; /* Stack links vertically */
        gap: 5px;
    }
}

#contact {
    margin-top: 50px;
    text-align: center;
}

.contact-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.contact-icon {
    font-size: 2rem; 
    color: #cbc7b7; 
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.contact-icon:hover {
    color: #ffffff; /* Color on hover */
    transform: scale(1.2); /* Slightly enlarge icon on hover */
}

.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }
